body
{
  background-color: rgb(240, 205, 159);
}

header{
  background-color: rgb(112, 81, 39);
  height: auto;
}
ul{
  font-size: 150%;
  margin-top: 55px;
  margin-right: -15px;
  float: right;
  list-style-type: none;
}
ul li{
  top: 0;
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 68, 0) ;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: rgb(231, 167, 46);
  color: rgb(255, 255, 255);
}
.logo img{
  float: left;
  margin-left: 70px;
  width: 300px;
  height: auto;
}
.main{
  max-width: 1800px;
}
.desc{    
  padding: 175px 300px 75px;   
}
.info{ 
  padding: 350px 500px;  
}
h1{
  padding: 25px 50px;   
  background-color: rgb(121, 68, 0);
  border-radius: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  color: rgb(255, 250, 239);
  text-align: center;
}
p{
  padding: 50px 50px;
  border: 10px solid rgb(187, 156, 115);
  background-color: rgb(255, 225, 187);  
  border-radius: 25px;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: rgb(70, 48, 0);
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}