h1 {
  background-image: url("images/BlindLess_titulo.png");
  font-family: 'Monaco';
  color: brown;
}

h2
{
  font-size:30pt;
  color: orange;
  background-color: white;
}

h3
{
  font-size: 20pt;
  color: black;
  background-color:white;
}

body
{
  text-align:center;
}
div
{
  padding: 0px 200px;
}
a{
  font-size: 30pt;
  background-color:white;
}